.navbar-fixed-top {
  padding-top: 1.2vw; }
   }

.navbar-default .navbar-collapse {
  border-top: none; }

.navbar-brand {
  position: relative; }
  .navbar-brand span img {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: transparent;
    position: absolute;
    width: 120px;
    height: 90px;
    top: -6px;
    left: 20px; }
    @media screen and (min-width: 600px) {
      .navbar-brand span img {
        width: 250px;
        height: 225px;
        top: -35px;
        left: 2vw; } }

#webLogo.enBanner {
  top: -11px;
  left: 31px;
  width: 100px;
  height: 80px;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg); }
  @media screen and (min-width: 600px) {
    #webLogo.enBanner {
      top: -30px;
      left: 66px;
      width: 170px;
      height: 107px;
      -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg); } }

.sponsors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .sponsors-section {
    background: #5f5f62;
    position: relative;
    position: fixed;
    bottom: 0;
    width: 100%; }
    
  .sponsors img {
    width: auto;
    height: 25px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 4%; }
    @media screen and (min-width: 923px) {
      .sponsors img {
        height: 50px; } }
    .sponsors img:last-child {
      margin-right: 0; }

#footer {
  margin-bottom: 1vw; }

.promo-content{
	background-color: #033c5a;
	padding: 80px;
	color: white;
	text-align: center;
	font-size: 40px;
	font-weight:bold;
	line-height: 1.6;
}

.promo-content span{
	font-size:64px;
	line-height: 1.8
}
.wd-60{ width:60%!important; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {.wd-60{ width:100%!important;
 }
.promo-content span{
  font-size:30px;
  line-height: 1.2
}
.promo-content{
  
  font-size: 18px;
  line-height: 1.4;
}
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {.wd-60{ width:100%!important; }
.promo-content span{
  font-size:30px;
  line-height: 1.2
}
.promo-content{
  
  font-size: 18px;
  line-height: 1.6;
}} 
