.navbar-fixed-top {
  padding-top: 4.3vw; }
  .navbar-fixed-top:before {
    content: '';
    width: 100%;
    position: fixed;
    pointer-events: none;
    top: -10px;
    height: 33vw;
    background-size: 180%;
    background-image: url("../img/LACIGF-header-background.png");
    background-repeat: no-repeat; }
    @media screen and (min-width: 375px) {
      .navbar-fixed-top:before {
        height: 33vw;
        background-size: 150%; } }
    @media screen and (min-width: 425px) {
      .navbar-fixed-top:before {
        height: 20vw;
        background-size: contain; } }

.navbar-default .navbar-collapse {
  border-top: none; }

.navbar-brand {
  position: relative; }
  .navbar-brand span img {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: transparent;
    position: absolute;
    width: 120px;
    height: 90px;
    top: -6px;
    left: 20px; }
    @media screen and (min-width: 600px) {
      .navbar-brand span img {
        width: 250px;
        height: 225px;
        top: -35px;
        left: 2vw; } }

#webLogo.enBanner {
  top: -11px;
  left: 31px;
  width: 100px;
  height: 80px;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg); }
  @media screen and (min-width: 600px) {
    #webLogo.enBanner {
      top: -30px;
      left: 66px;
      width: 170px;
      height: 107px;
      -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      transform: rotate(10deg); } }

.sponsors {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .sponsors-section {
    background: #5f5f62;
    position: relative;
    position: fixed;
    bottom: 0;
    width: 100%; }
    .sponsors-section:before {
      content: '';
      background: url("../img/LACIGF-footer-background.png");
      width: 100%;
      height: 20vw;
      position: absolute;
	  z-index:-9999;
      top: -20vw;
      background-size: contain;
      background-position: bottom;
      background-repeat: no-repeat;
    pointer-events: none;

 }
  .sponsors img {
    width: auto;
    height: 25px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 4%; }
    @media screen and (min-width: 923px) {
      .sponsors img {
        height: 50px; } }
    .sponsors img:last-child {
      margin-right: 0; }

#footer {
  margin-bottom: 8vw; }