// ------------------------------------------------------------
// Header
// ------------------------------------------------------------

.navbar-fixed-top{
    padding-top: 4.3vw;
    &:before{
        content:'';
        width: 100%;
        position: fixed;
        top:-10px;
        height: 33vw;
        background-size: 180%;
        @media screen and (min-width: 375px) {
            height: 33vw;
            background-size: 150%;
        }
        @media screen and (min-width: 425px) {
            height: 20vw;
            background-size: contain;
        }
        // fondo
        background-image: url('/assets/img/LACIGF-header-background.png');
        background-repeat: no-repeat;

        

    }
}
// quita borde superior del menu principal
.navbar-default .navbar-collapse {
    border-top:none;
}


// logo
.navbar-brand{
    position:relative;
    span img {
        transition: all 0.5s;
    	background: transparent;
        position: absolute;
        
        width: 120px;
        height: 90px;

        top: -6px;
        left: 20px;
        @media screen and (min-width: 600px){
            width: 250px;
            height: 225px;

            top: -35px;
            left: 2vw;      
        }
        
    }
}
#webLogo.enBanner{
    top: -11px;
    left: 31px;
    width: 100px;
    height: 80px;
    transform: rotate(10deg);
    @media screen and (min-width: 600px){
        top: -30px;
        left: 66px;

        width: 170px;
        height: 107px;
        transform: rotate(10deg);
    }
}

// ------------------------------------------------------------
// END - Header
// ------------------------------------------------------------

// ------------------------------------------------------------
// Footer
// ------------------------------------------------------------

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;



    &-section{
        background:#5f5f62;
        position: relative;
        
        
        position:fixed;
        bottom:0;
        width: 100%;
        &:before{
            content: '';
            background: url("/assets/img/LACIGF-footer-background.png");
            width: 100%;
            height: 20vw;
            position: absolute;
            top: -20vw;
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
        }
    }
    img{
        width: auto;
        height: 25px;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
        margin-right: 4%;
        @media screen and (min-width:923px){
            height:50px;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}


// agrega margin bottom al footer
#footer{
    margin-bottom: 8vw;
}
// ------------------------------------------------------------
// END - Footer
// ------------------------------------------------------------
